.toolbar {
    background-color: #d8ebff;
    color: #004589;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 24px;
    padding: 16px;
    width: fit-content;
    max-width: calc(100% - 80px);

    border-radius: 8px;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

    .data-form-fields {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 16px;
        width: 100%;
    }
}

.step2-container {
    display: flex;
    flex-direction: row;
    width: calc(100% - 48px);
    margin: 24px;
    gap: 24px;

    .step2-left-container {
        display: flex;
        flex-direction: column;
        gap: 24px;

        width: 50%;

        .container-form {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            padding: 16px;
            width: calc(100% - 32px);

            border-radius: 8px;

            -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

            .nav-form {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                gap: 16px;
                width: 100%;
            }
        }

        .step2-map-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            padding: 16px;
            width: calc(100% - 32px);

            border-radius: 8px;

            -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

            #step2map {
                width: 100%;
                height: 720px;
                border-radius: 4px;
                border: 1px solid gray;
                cursor: pointer;
            }
        }
    }

    .step2-right-container {

        display: flex;
        flex-direction: column;
        gap: 24px;

        width: 50%;

        .container-tabla-puntos {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            max-height: 500px;
            height: fit-content;
            overflow: auto;

            padding: 0px 16px 16px 16px;
            width: calc(100% - 32px);
            border-radius: 8px;

            -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

            .container-tabla-inf {

                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
            }
        }

        .generate-route-container {
            display: flex;
            flex-direction: row;
            justify-content: end;

            padding: 16px;
            width: calc(100% - 32px);
            border-radius: 8px;

            -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        }
    }
}

.step3-container {
    display: flex;
    flex-direction: row;
    width: calc(100% - 48px);
    margin: 24px;
    gap: 24px;

    .step3-map-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 16px;
        width: calc(100% - 32px);

        border-radius: 8px;

        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

        #step3map {
            width: 100%;
            height: 720px;
            border-radius: 4px;
            border: 1px solid gray;
            cursor: pointer;
        }
    }

    .container-tabla-ruta {
        padding: 24px;
        width: 100%;
        border-radius: 8px;

        height: fit-content;
        max-height: 100%;
        overflow: auto;

        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

        .container-tabla-inf {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: end;

            margin-top: 24px;
        }
    }
}

.nav-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 16px;

    background-color: #d8ebff;
    width: calc(100% - 32px);
    height: 48px;
    position: fixed;
    bottom: 0;

    z-index: 400;

    .nav-container-right-buttons
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }
}

::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}

tr.mat-mdc-footer-row td {
    font-weight: bold;
  }