.toolbar {
    background-color: #d8ebff;
    color: #004589;
}

* {
    box-sizing: border-box;
}

table {
    background-color: white;
}

.step1-form-container {
    display: flex;

    margin-top: 24px;
    padding: 16px;

    border-radius: 8px;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

    background-color: white;

    form {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;

        width: 100%;

        .field {
            flex: 1 0 200px;
        }
    }
}

.step2-container {
    display: flex;
    gap: 24px;

    width: 100%;
    margin-top: 24px;

    .step2-map-container {
        display: flex;
        flex-direction: column;
        gap: 24px;

        width: 50%;

        .form-container {
            display: flex;

            padding: 16px;

            border-radius: 8px;

            -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

            background-color: white;

            form {
                display: flex;
                flex-wrap: wrap;
                gap: 16px;

                width: 100%;

                .field {
                    flex: 1 0 100px;
                }
            }
        }

        .map-container {
            width: 100%;
            position: relative;

            #step2map {
                width: 100%;
                height: 50vh;
                border-radius: 8px;
                border: 1px solid gray;
                cursor: pointer;

                border: 8px;

                -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
            }

            .action-buttons-container {
                position: absolute;
                top: 10px;
                right: 10px;

                width: 256px;

                z-index: 1002;

                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                gap: 10px;
            }

            .step2-map-disabled-layer {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius: 8px;
                background-color: black;
                opacity: 0.8;

                z-index: 1001;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                p {
                    color: white;
                    margin: 0px 24px;
                    text-align: center;
                }
            }
        }
    }

    .step2-table-container {
        width: 50%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        max-height: 500px;
        height: fit-content;
        overflow: auto;

        padding: 0px 16px 16px 16px;
        border-radius: 8px;

        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

        background-color: white;

        .container-tabla-inf {

            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
        }
    }
}

.step3-container {
    display: flex;
    gap: 24px;

    width: 100%;
    margin-top: 24px;

    .map-container {
        width: 50%;
        aspect-ratio: 1 / 1;
        position: relative;

        border-radius: 8px;

        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

        #step3map {
            width: 100%;
            height: 100%;
            border-radius: 8px;
            cursor: pointer;
        }

        .action-buttons-container {
            position: absolute;
            top: 10px;
            right: 10px;

            width: 256px;

            z-index: 1002;

            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 10px;
        }

        .step2-map-disabled-layer {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 8px;
            opacity: 0.8;

            z-index: 1001;
        }
    }

    .container-tabla-ruta {
        width: 50%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        max-height: 500px;
        height: fit-content;
        overflow: auto;

        padding: 0px 16px 16px 16px;
        border-radius: 8px;

        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

        background-color: white;

        .container-tabla-inf {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
        }
    }
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 16px;

    background-color: #d8ebff;
    width: 100%;
    height: 64px;
    position: fixed;
    bottom: 0;

    z-index: 1000;

    .nav-container-right-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }
}

::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
}

tr.mat-mdc-footer-row td {
    font-weight: bold;
}

.map-disabled {
    pointer-events: none;
}

//MOBILE
@media only screen and (max-width: 900px) {
    .step2-container {
        flex-direction: column;

        .step2-map-container {
            width: 100%;
        }

        .step2-table-container {
            width: 100%;
        }
    }

    .step3-container {
        flex-direction: column;

        .map-container {
            width: 100%;
        }

        .container-tabla-ruta {
            width: 100%;
        }
    }
}