<mat-toolbar class="toolbar">
  <span><strong>NaviLite</strong></span>
  <span style="flex: 1 1 auto;"></span>
  <button mat-icon-button>
    <mat-icon style="color: #004589;">help</mat-icon>
  </button>
</mat-toolbar>

<mat-stepper linear #stepper>
  <mat-step [stepControl]="dataForm" [editable]="true">
    <div class="form-container">
      <form [formGroup]="dataForm">
        <ng-template matStepLabel>Datos generales</ng-template>
        <div class="data-form-fields">

          <mat-label>Hora de salida (aproximada)</mat-label>
          <div class="departure-time-field">
            <mat-form-field appearance="outline" style="width: 80px;">
              <input type="number" min="0" max="23" matInput formControlName="departureTimeHour" required>
            </mat-form-field>
            <p>:</p>
            <mat-form-field appearance="outline" style="width: 80px;">
              <input type="number" min="0" max="59" matInput formControlName="departureTimeMinute" required>
            </mat-form-field>
          </div>

          <mat-label>Velocidad media (km/h)</mat-label>
          <mat-form-field appearance="outline" style="width: 128px;">
            <input type="number" min="1" matInput formControlName="meanVelocity" required>
          </mat-form-field>

          <mat-label>Consumo medio (litros/h)</mat-label>
          <mat-form-field appearance="outline" style="width: 128px;">
            <input type="number" min="0" matInput formControlName="meanConsumption" required>
          </mat-form-field>
        </div>
        <div style="width: 100%; display: flex; justify-content: end;">
          <button mat-button matStepperNext [disabled]="!dataForm.valid">Continuar</button>
        </div>
      </form>
    </div>
  </mat-step>
  <mat-step [editable]="true">
    <ng-template matStepLabel>Puntos</ng-template>

    <div class="step2-container">
      <div class="step2-left-container">
        <div class="container-form">
          <form class="nav-form" [formGroup]="pointForm">
            <mat-form-field subscriptSizing="dynamic" appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="name" required>
            </mat-form-field>
            <mat-form-field subscriptSizing="dynamic" appearance="outline">
              <mat-label>Latitud</mat-label>
              <input matInput formControlName="latitude" required>
            </mat-form-field>
            <mat-form-field subscriptSizing="dynamic" appearance="outline">
              <mat-label>Longitud</mat-label>
              <input matInput formControlName="longitude" required>
            </mat-form-field>
            <button mat-stroked-button (click)="addPoint();" [disabled]="!pointForm.valid">
              <mat-icon>add</mat-icon>
              Añadir punto
            </button>
          </form>
        </div>
        <div class="step2-map-container">
          <div id="step2map"></div>
        </div>
      </div>

      <div class="step2-right-container">
        <div class="container-tabla-puntos">
          <table #table1 mat-table [dataSource]="dataSourceTable1">
  
            <ng-container matColumnDef="point">
              <th mat-header-cell *matHeaderCellDef> Punto </th>
              <td mat-cell *matCellDef="let element"> {{element.point}} </td>
            </ng-container>
  
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
  
            <ng-container matColumnDef="latitude">
              <th mat-header-cell *matHeaderCellDef> Latitud </th>
              <td mat-cell *matCellDef="let element"> {{element.latitude.toFixed(5)}} </td>
            </ng-container>
  
            <ng-container matColumnDef="longitude">
              <th mat-header-cell *matHeaderCellDef> Longitud </th>
              <td mat-cell *matCellDef="let element"> {{element.longitude.toFixed(5)}} </td>
            </ng-container>
  
            <ng-container matColumnDef="remove">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="removePoint(element);">
                  <mat-icon style="color: red;">remove_circle_outline</mat-icon>
                </button>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumnsTable1; sticky: true;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsTable1;"></tr>
          </table>

          <div *ngIf="dataSourceTable1.length == 0" class="container-tabla-inf">
            <p style="display: flex; flex-direction: row; gap: 5px; align-items: center;"><mat-icon>info</mat-icon>&nbsp;Aún no has añadido ningún punto</p>
          </div>
        </div>
        <div *ngIf="dataSourceTable1.length > 1" class="generate-route-container">
          <button matStepperNext mat-stroked-button (click)="generateRoute();">Generar ruta</button>
        </div>
      </div>
    </div>

    <div style="width: 100%; display: flex;">
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
  <mat-step [editable]="true">
    <ng-template matStepLabel>Ruta</ng-template>
    
    <div class="step3-container">
      <div class="step3-map-container">
        <div id="step3map"></div>
      </div>

      <div class="container-tabla-ruta">
        <table #table2 mat-table [dataSource]="dataSourceTable2">
      
          <ng-container matColumnDef="section">
            <th mat-header-cell *matHeaderCellDef> Tramo </th>
            <td mat-cell *matCellDef="let element"> {{element.section}} </td>
          </ng-container>
        
          <ng-container matColumnDef="origin">
            <th mat-header-cell *matHeaderCellDef> Origen </th>
            <td mat-cell *matCellDef="let element"> {{element.origin}} </td>
          </ng-container>
        
          <ng-container matColumnDef="destination">
            <th mat-header-cell *matHeaderCellDef> Destino </th>
            <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
          </ng-container>
        
          <ng-container matColumnDef="distance">
            <th mat-header-cell *matHeaderCellDef> Distancia (km) </th>
            <td mat-cell *matCellDef="let element"> {{element.distance.toFixed(2)}} </td>
          </ng-container>
      
          <ng-container matColumnDef="time1">
            <th mat-header-cell *matHeaderCellDef> Hora de salida </th>
            <td mat-cell *matCellDef="let element"> {{element.time1}} </td>
          </ng-container>
      
          <ng-container matColumnDef="course">
            <th mat-header-cell *matHeaderCellDef> Rumbo </th>
            <td mat-cell *matCellDef="let element"> {{element.course}} </td>
          </ng-container>
      
          <ng-container matColumnDef="time2">
            <th mat-header-cell *matHeaderCellDef> Tiempo estimado </th>
            <td mat-cell *matCellDef="let element"> {{element.time2}} </td>
          </ng-container>
      
          <ng-container matColumnDef="time3">
            <th mat-header-cell *matHeaderCellDef> Hora de llegada </th>
            <td mat-cell *matCellDef="let element"> {{element.time3}} </td>
          </ng-container>
      
          <ng-container matColumnDef="consumption">
            <th mat-header-cell *matHeaderCellDef> Consumo (litros) </th>
            <td mat-cell *matCellDef="let element"> {{element.consumption.toFixed(2)}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumnsTable2"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsTable2;"></tr>
        </table>
      </div>
    </div>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="resetAllSteps(); stepper.reset();">Reset</button>
    </div>
  </mat-step>
</mat-stepper>